<div class="navbar-container">
  <div class="container">
    <nav class="d-flex justify-content-between">
      <div *ngIf="routerLinkActive != 'Start'" class="back">
        <button class="btn">
          <fa-icon [icon]="faArrowRight"></fa-icon> <Span> {{"back" | translate}} </Span>
        </button>
      </div>
      <div class="exit ms-auto">
        <button class="btn">
          <fa-icon [icon]="faXmark"></fa-icon>
        </button>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>
