<div class="navbar-container">
  <div class="container">
    <nav class="d-flex justify-content-between">
      <div *ngIf="routerLinkActive != 'Start'" class="back">
        <a class="btn px-0">
          <fa-icon *ngIf="cookieValue === 'ar'" [icon]="faArrowRight"></fa-icon>
          <fa-icon *ngIf="cookieValue === 'en'" [icon]="faArrowLeft"></fa-icon>
           <Span class="ms-1"> {{"back" | translate}} </Span>
        </a>
      </div>
      <div class="exit {{routerLinkActive != 'Start' ? '' : 'ms-auto' }}">
        <a class="btn">
          <fa-icon [icon]="faXmark"></fa-icon>
        </a>
      </div>
    </nav>
  </div>
</div>
<router-outlet ></router-outlet>
