<preloader id="preLoader"></preloader>
<section class="bg">
  <div class="container">
    <form *ngIf="!this.isNextStep" class="container-content">
      <div class="title stars">
        <h5>{{'prop.title' | translate}}</h5>
      </div>
      <div class="form-group">
        <label class="mb-2" for="smallDescription">{{'prop.small_description' | translate}}</label>
        <input [(ngModel)]="this.topic" id="smallDescription" name="topic" type="text" class="form-control">
        <span *ngIf="!this.isTopicFilled" class="warning"> {{'prop.warningTopic' | translate}} </span>
      </div>
      <div class="form-group mt-2 mt-sm-4">
        <label class="mb-2" for="description">{{'prop.description' | translate}}</label>
        <p-editor class="p-ico" [(ngModel)]="this.article" name="article" [style]="{ height: '250px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button aria-label="Insert Image" type="button" class="ql-image"></button>
              <button style="transform: rotate(90deg);" aria-label="Insert Link" type="button" class="ql-link"></button>
            </span>
            <span class="ql-formats">
              <button value="ordered" aria-label="Ordered List" type="button" class="ql-list"></button>
              <button value="bullet" aria-label="Unordered List" type="button" class="ql-list"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
              <button aria-label="Bold" type="button" class="ql-bold"></button>
              <button aria-label="Italic" type="button" class="ql-italic"></button>
              <button aria-label="Underline" type="button" class="ql-underline"></button>
              <button aria-label="Strike" type="button" class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <button aria-label="background color" type="button" class="ql-background"></button>
              <button aria-label="text color" type="button" class="ql-color"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-size"></select>
            </span>
          </ng-template>
        </p-editor>
        <span *ngIf="!this.isArticleFilled" class="warning"> {{'prop.warningArticle' | translate}} </span>
      </div>
      <div class="d-flex text-center flex-column align-items-center justify-content-center mt-2 mt-sm-3">
        <button (click)="this.submit()" class="btn btn-primary active mb-2">
          {{'prop.button' | translate}}
        </button>
        <span>
          {{'prop.help' | translate}}
        </span>
      </div>
    </form>
    <div *ngIf="this.isNextStep" class="container-content ">
      <div class="title">
        <h5>{{'prop.message' | translate}}</h5>
        <p>{{'prop.message_description' | translate}}</p>
      </div>
      <div class="form-group radio">
        <h6>
          <fa-icon style="margin-left: 2px;" [icon]="faCalendarCheck"></fa-icon>
          {{'prop.design' | translate}}
        </h6>
        <div class="radio-group">
          <span>
            <input checked type="radio" id="design1" name="design" value="{{'prop.modern' | translate}}">
            <label for="design1">{{'prop.modern' | translate}}</label>
          </span>
          <span>
            <input type="radio" id="design2" name="design" value="{{'prop.modern_smart' | translate}}">
            <label for="design2">{{'prop.modern_smart' | translate}}</label>
          </span>
        </div>
      </div>
      <div class="form-group mt-2">
        <p-editor class="p-template" [(ngModel)]="this.articleTemplate" [readonly]="true" [style]="{ height: '240px' }">
          <ng-template pTemplate="header">
            <h6 class="mb-3">
              <fa-icon style="margin-left: 2px;" [icon]="faEye"></fa-icon>
              {{'prop.description_check' | translate}}
            </h6>
            <span>
              <span> {{'prop.topic' | translate}}: </span>
              <span class="ms-1 text-dark"> dsfd </span>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <div class="d-flex text-center flex-column align-items-center justify-content-center mt-2 mt-sm-4">
        <button  [routerLink]="['/Submission']" routerLinkActive="router-link-active" class="btn btn-primary active mb-2">
          {{'prop.button' | translate}}
        </button>
        <span>
          {{'prop.help' | translate}}
        </span>
      </div>
    </div>
  </div>
</section>
